body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

nav {
    background-color: #343a40;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

section {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

h2 {
    color: #007bff;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Add styles for the form in the contact section */
form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
